/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8fa;
    font-family: 'Nunito', sans-serif;
    color: #33475b;
    font-size: 18px;
}

/* stacco le varie sezioni - se cambio questo margine devo cambiare anche i margini di fast-links nel footer che sovrascrive questo*/
section{
    margin-bottom: 60px;
}

/* regole di testo generali */
a{
    text-decoration: none;
    color: #33475b;
}

li{
    list-style-type: none;
}

p{
    padding: 30px 0;
}

h1{
    font-size: 60px;
    font-weight: 900;
}

h2{
    font-size: 40px;
    font-weight: 900;
}

h3{
    font-size: 30px;
    font-weight: 900;
}

h4{
    font-size: 20px;
    font-weight: 700;
}

/* numeroni sparsi qua e là */
.number{
    font-size: 45px;
    font-weight: 900;
}

/* check marker delle liste */
.fa-check-circle{
    color: #ff7a59;
    padding-right: 10px;
}

/* tolti alcuni sfondi, il contenuto della pagina non è a tutta larghezza */
.container{
    width: 70%;
    margin: auto;
}

/* clearfix */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* un sacco di pulsanti arancioni tutti uguali */
.orange-button{
    background-color: #ff7a59;
    color: white;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 1.411em 2em;
    display: inline-block;
    font-weight: 700;
}



/* HEADER */
/* header resta sempre in primo piano attaccato in cima scrollando la pagina */
.stick{
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 999;
    }

nav .column{
    float: left;
    width: 50%;
    line-height: 80px;
    font-weight: 700;
    height: 80px;
}

/* riga superiore */
/* setto i background color perchè così scrollando prendono il background di .stick
e vanno sopra tutto */
header nav:first-child{
    background-color: #f5f8fa;
}

header nav:last-child{
    background-color: white;
}

nav li{
    display: inline-block;
}

/* seleziono "contact us", lo distanzio e gli metto la barretta verticale a sx */
#nav1 div:first-child li:last-child a{
    padding-left: 20px;
    margin-left: 20px;
    border-left: 2px solid #33475b;
}

#nav1 div:last-child, #nav2 div:last-child{
    text-align: right;
}

/* seleziono login */
#nav1 div:last-child li:nth-child(2) a{
    margin: 0 20px;
    padding: 8px 8px;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    color: #ff7a59;
}

#nav1 .fa-search{
    color: #1E90FF;
}

#nav1 .orange-button{
    display: inline;
    padding: 8px 8px;
}

/* riga inferiore */
#nav2 img{
    vertical-align: middle;
}

#nav2 div:last-child li:nth-child(1n+2){
    margin-left: 20px;
}

#nav2 .fa-angle-down{
    margin-left: 10px;
}

header nav:last-child{
    border-top: 1px solid black;
}




/* JUMBOTRON */
.jumbotron{
    background-image: url(../img/jumbotron.png);
    background-position: right;
    height: 690px;
    background-size: cover;
    margin-bottom: 0;
}

.jumbo-text{
    width: 45%;
}

.jumbo-text > h1{
    padding-top: 60px;
    line-height: 60px;
}




/* separatore orizzintale tra jumbotron e main */
#divider{
    height: 80px;
    background-color: #99deda;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}




/* SEZIONE "CUBO DI RUBIK" */
.rubik .container{
    text-align: center;
}

.rubik img{
    width: 20%;
}

/* devo resettare il padding perchè questa sezione finisce con il paragrafo e quindi il suo padding si sommerebbe al margine inferiori dato di base alle sezioni */
.rubik p{
    padding-bottom: 0;
    width: 80%;
    margin: auto;
}




/* SEZIONE FREE HUBSPOT */
.free .row.container{
    background-color: white;
    padding: 60px 0;
}

/* colonna a sinistra */
.free .column:first-child{
    float: left;
    width: 30%;
    text-align: center;
}

/* colonna a destra */
.free .column:last-child{
    float: left;
    width: 70%;
}

.free img{
    display: block;
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
}

.free p{
    width: 80%;
}

/* linea a lato di h4 */
.free hr{
    display: inline-block;
    height: 3px;
    width: 60%;
    background-color: #33475b;
    vertical-align: middle;
    margin-left: 50px;
}

.free h4{
    display: inline-block;
}

.free li{
    display: inline-block;
    padding: 20px 20px 0 0;
}




/* SEZIONE FEATURES */
.features .column{
    float: left;
    width: calc((100% - 120px) / 3);
    background-color: white;
}

/* margini laterali alla colonna centrale */
.features .column:nth-child(2){
    margin: 0 60px;
}

/* contenitore interno alle colonne per gestire margine e posizione di tutto il suo contenuto (forse è eccessivo - potevo dare text align a column e gestire i margini a mano?) */
.col-obj{
    margin: 20px 40px;
    text-align: center;
}

.features img{
    height: 120px;
    margin-bottom: 20px;
}

.features p{
    padding-bottom: 60px;
    border-bottom: 2px solid #33475b;
    margin-bottom: 30px;
}

.features ol{
    text-align: left;
    margin: 30px 0 60px 0;
}






/* SEZIONE COMMUNITY */
.community{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    margin-bottom: 0;
}

.community .container{
    text-align: center;
    color: white;
}

.community h2{
    padding-top: 60px;
    line-height: 40px;
}

.community .container  > p{
    padding-bottom: 60px;
}

/* due righe da 4 colonne */
.community .column{
    float: left;
    width: 25%;
    text-align: center;
}

/* paddo l'interno di ogni colonna */
.community .column img, .community .column p{
    padding: 20px 0;
    font-size: 15px;
}

/* prendo le colonne della seconda riga e gli metto un bordo superiore */
.community .row:last-child .column:nth-child(1n+1){
    border-top: 1px solid white;
}

/* prendo tutte le colonne a parte le prima di ogni riga e metto un bordo a sx */
.community .column:nth-child(1n+2){
    border-left: 1px solid white;
}

.community .row:last-child{
    padding-bottom: 80px;
}




/* SEZIONE CUSTOMERS */
.customers{
    background-color: white;
    margin: 0;
    padding-top: 60px;
}

.customers .container{
    width: 60%;
}

.customers .column:first-child{
    float: left;
    width: 30%;

}

.customers .column:last-child{
    float: left;
    width: 70%;
}

.customers p{
    width: 65%;
}

.nested-col{
    float: left;
    width: 25%;
    line-height: 80px;
    text-align: right;
}

.nested-col img{
    width: 70%;
    vertical-align: middle;
}





/* SEZIONE GET STARTED */
.get-started{
    background-color: white;
    margin: 0;
    padding: 60px 0;
}

.get-started .column{
    float: left;
    width: 50%;
}

.get-started .column:first-child{
    padding-right: 5%;
}

.get-started .column:last-child{
    text-align: right;
}

.get-started p:last-child{
    font-size: 15px;
}

.get-started img{
    width: 50%;
}




/* FOOTER */
footer{
    background-color: #2d3e50;
    color: #FFFFFF99
}

footer a{
    color: #FFFFFF99;
    font-weight: 700;
}

#fast-links li:first-child a{
    color: white;
    font-weight: 900;
}

/* setto le 4 colonne e sovrascrivo i margini dati nelle regole generali */
#fast-links .column{
    float: left;
    margin: 60px 60px 80px 0;
    width: calc((100% - 240px) / 4);
}

#fast-links li{
    margin-bottom: 15px;
}

#fast-links li:first-child{
    padding-bottom: 20px;
}

#fast-links i{
    padding-right: 30px;
}

#white-button{
    padding: 8px;
    background-color: #FFFFFF99;
    color: #2d3e50;
    border-radius: 5px;
}

#gimmespace{
    padding: 10px 0;
}




#lang .container{
    border-bottom: 1px solid #FFFFFF99;
    text-align: center;
    margin-bottom: 30px;
}

#lang li, #policy li{
    padding: 0 10px 20px 10px;
    display: inline-block;
}

/* sovrascrivo i margini dati nelle regole generali per evitare che in fondo
alla pagina si con il margin-bottom di 40px ci sia uno stacco tra sfondo header
e sfondo body */
#policy{
    margin-bottom: 0;
}

#policy .column{
    float: left;
    width: 50%;
}

#policy .column:last-child{
    text-align: right;
}

#policy p{
    padding-top: 0;
    font-weight: 700;
    color: white;
}
