*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8fa;
    font-family: 'Nunito', sans-serif;
}

/* stacco le varie sezioni - se cambio questo margine devo cambiare anche i margini di fast-links nel footer che sovrascrive questo*/
section{
    margin-bottom: 40px;
}

/* tolti alcuni sfondi, il contenuto della pagina non è a tutta larghezza */
.container{
    width: 70%;
    margin: auto;
}

/* clearfix */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* un sacco di pulsanti arancioni tutti uguali */
.orange-button{
    background-color: #ff7a59;
    color: white;
    border: 1px solid #ff7a59;
    border-radius: .1875rem;
    padding: 1.411em 2em;
}



/* HEADER */
/* header resta sempre in primo piano attaccato in cima scrollando la pagina */
.stick{
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 999;
    }

nav .column{
    float: left;
    width: 50%;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;
    /* DEBUG:  */
    border: 1px solid black;
    height: 100px;
}

/* setto i background color perchè così scrollando prendono il background di .stick
e vanno sopra tutto */
header nav:first-child{
    background-color: #f5f8fa;
}

header nav:last-child{
    background-color: white;
}

nav li{
    display: inline-block;
    list-style-type: none;
}

#nav1 /* togli il padding a sx a English e metti la barretta verticale tra i due */


nav a{
    text-decoration: none;
    color: #33475b;
    padding: 0 20px;
}





/* JUMBOTRON */
.jumbotron{
    position: relative;
    /* DEBUG:  */
    background-color: #f9d5e580;
}

.jumbotron .container{
    /* DEBUG:  */
    border: 1px solid black;
    height: 650px;
}

/* linea di colore diverso che va a posizionarsi sopra la parte inferiore dell'immagine */
#separator{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #99deda;
    /* DEBUG:  */
    height: 100px;

}




/* SEZIONE "CUBO DI RUBIK" */
.rubik .container{
    /* DEBUG:  */
    height: 400px;
    border: 1px solid black;
}




/* SEZIONE FREE HUBSPOT */
.free .row.container{
    background-color: white;
}

.free .column:first-child{
    float: left;
    width: 30%;
    /* DEBUG:  */
    height: 250px;
    border: 1px solid black;
}

.free .column:last-child{
    float: left;
    width: 70%;
    /* DEBUG:  */
    height: 250px;
    border: 1px solid black;
}




/* SEZIONE FEATURES */
.features .column{
    float: left;
    width: calc((100% - 80px) / 3);
    background-color: white;
    /* DEBUG:  */
    height: 650px;
    border: 1px solid black;
}

.features .column:nth-child(2){
    margin: 0 40px;
}




/* SEZIONE COMMUNITY */
.community{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    /* DEBUG:  */
    background-color:
}

.community .container{
    /* DEBUG:  */
    border: 1px solid black;
    height: 600px;
}



/* SEZIONE CUSTOMERS */
.customers .column:first-child{
    float: left;
    width: 40%;
    /* DEBUG:  */
    border: 1px solid black;
    height: 300px;
}

.customers .column:last-child{
    float: left;
    width: 60%;
    /* DEBUG:  */
    border: 1px solid black;
    height: 300px;
}



/* SEZIONE GET STARTED */
.get-started .column{
    float: left;
    width: 50%;
    /* DEBUG:  */
    border: 1px solid black;
    height: 500px;
}




/* FOOTER */
footer{
    background-color: #2d3e50;
}

/* setto le 4 colonne e sovrascrivo i margini dati nelle regole generali */
#fast-links .column{
    float: left;
    margin: 40px 60px 80px 0;
    width: calc((100% - 240px) / 4);
    /* DEBUG:  */
    border: 1px solid black;
    height: 300px;
}


#lang .container{
    border-bottom: 1px solid white;
}

/* sovrascrivo i margini dati nelle regole generali per evitare che in fondo
alla pagina si con il margin-bottom di 40px ci sia uno stacco tra sfondo header
e sfondo body */
#policy{
    margin-bottom: 0;
    /* DEBUG:  */
    padding-bottom: 40px;
}

#policy .column{
    float: left;
    width: 50%;
    /* DEBUG:  */
    border: 1px solid black;
    height: 200px;
}
